
<div class="container">
  <div class="row">
<h1>Saved Plans</h1>

<table>
  <tr>

    <th>Plan</th>
    <th>Plan Name</th>
    <th></th>
    <th>User Email</th>


  </tr>

<% @saved_plan.each do |saved_plan| %>
  <tr>

    <td><%= saved_plan.plan_id %></td>
    <td><%= link_to saved_plan.plan.name, saved_plan.plan %></td>
    <td><%#<%= @user.name %></td>
    <td><%= saved_plan.user_email %></td>

  </tr>
<% end %>
</table>

<br />

</div>
</div>