<div class="container">
	<div class="row">
		<center><h1>Design Visions | Admin Portal</h1></center>
		<br />
		<br />
		<p>
			<b>Manage Users:</b> <%= link_to "Access Users Page", users_path %>
		</p>
		<p>
			<b>Manage Saved Plans:</b> <%= link_to "Access Saved Plans", saved_plans_path %>
		</p>
		<p>
			<b>Manage Plans:</b> <%= link_to "Access Plans Portfolio", plans_path %>
		</p>
	</div>
</div>
