body {
  padding-top: 70px; 
  background-color: #fff;
  background: url("light_grey.png") repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333;
  font-size: 13px;
  line-height: 18px;

}

.container {
  max-width: 1200px;
  padding: 20px;
}

p, ol, ul, td {

  font-size: 16px;
  line-height: 20px;
}

h1 {


}

.btn {

  color:#fff;

}
ol,ul {
  list-style:none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #000;

  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/* footer */

footer {
background: #fff;


margin-left: -10px;
padding: 10px;
border-top: 2px solid #888;
margin-bottom:0px;


}

footer a {
  color: #555 !important;
}  

footer a:hover { 
  color: #222 !important;
}

footer small {
  float: left;
  margin-left:25px;

}
footer menu {
padding: 5px;
}

footer ul {
margin-top: -15px;
  float: right;
  list-style: none;
}
#nnlogo {
  display: block;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  width:250px;
  margin-top:-15px;
  margin-bottom: 20px;
}
footer ul li {
  float: left;
  margin-left: 10px;
  font-size: 125%;
}
.btn {
  color:#fff !important;
}
remember a{
  color:#d1d1d1 !important;
}
