<div class="container">
	<div class="row"> 
		<h1>New plan</h1>

		<%= render 'form' %>
		<div class="col-md-12">
			<%= link_to 'Back', plans_path %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
