<footer class="footer">
  <small>
&copy; Copyright an <a href="http://www.architectware.com">architectWare</a> product
  </small>
  <menu>
    <ul>
      <li><%= link_to "Website", "http://www.architectware.com" %></li> 
      <li><%= link_to "Contact", "http://www.architectware.com" %></li>
    </ul>
  </menu>
        <div id="nnlogo" class="col-md-12 text-center">
   <center><%= link_to image_tag("a_logo.png", alt: "architectWare"), "http://www.architectware.com" %></center>
  </div>
</footer>