<footer class="footer">
  <small>
Created by  <a href="http://www.rickbarkleydesign.com">Rick Barkley Design</a> &copy; | Powered by <a href="http://www.nuvola-networks.com">Nuvola Networks</a>
  </small>
  <menu>
    <ul>
      <li><%= link_to "Website", "http://www.designvisionsoraustin.com" %></li> 
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </menu>
        <div id="nnlogo" class="col-md-12 text-center">
   <center><%= link_to image_tag("archwre2.png", alt: "Nuvolio"), root_path %></center>
  </div>
</footer>