<footer class="footer">
  <small>
&copy; Copyright An <a href="http://www.architectware.com">architectWare</a> Product
  </small>
  <menu>
    <ul>
      <li><%= link_to "Website", "http://www.designvisionsoraustin.com" %></li> 
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </menu>
        <div id="nnlogo" class="col-md-12 text-center">
   <center><%= link_to image_tag("archwre2.png", alt: "Nuvolio"), root_path %></center>
  </div>
</footer>